
<ion-header>

  <ion-navbar>
    <ion-buttons end>
        <button (click)="showCreateParty()" class="headerText" ion-button>
            Create Party
         </button>
    </ion-buttons>
    <ion-title>Parties</ion-title>
  </ion-navbar>
</ion-header>


<ion-content >
<ion-refresher (ionRefresh)="doRefresh($event)">
  <ion-refresher-content>
  </ion-refresher-content>
</ion-refresher>
<div *ngIf="friendsParties.length == 0">
  <p text-center style="font-weight: bold; font-size: 16px">None of your friends are doing anything.<br> Add some new ones</p>
</div>

<ion-card *ngFor="let p of friendsParties">
    <ion-item [navPush]="PartyPage">
      <ion-avatar item-start>
        <img src="./assets/imgs/avatar.png">
      </ion-avatar>
      <h2>{{p.name}}</h2>
      <p>{{p.date}} {{p.time}}</p>
    </ion-item>
  
    <img src=".//assets/imgs/party.jpg">
  
    <ion-card-content>
      <p>{{p.activity}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
