
<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button (click)="closePage()" ion-button>
              <ion-icon style="font-size: 40px" name="close"></ion-icon>
            </button>
          </ion-buttons>
    <ion-title>Guest List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<ion-list>
  <ion-item-divider>Requesting Invite</ion-item-divider>
  <ion-item *ngFor="let requesting of allInviteRequesting">
    {{requesting.fname}} {{requesting.lname}}
    <button ion-button item-end (click)="confirmSendInvite(requesting)" clear>Invite</button>
    <button ion-button item-end (click)="confirmCancelInvite(requesting)" clear>Delete</button>
  </ion-item>
  <ion-item-divider>Invited</ion-item-divider>
  <ion-item *ngFor="let invited of allInvited">
    {{invited.fname}} {{invited.lname}}
    <button ion-button item-end (click)="confirmCancelInvite(invited)" clear>Delete Invite</button>
  </ion-item>
</ion-list>
</ion-content>
