
<ion-header>

  <ion-navbar>
      <ion-buttons start>
          <button (click)="closePage()" ion-button>
            <ion-icon style="font-size: 40px" name="close"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <div  *ngIf="user">

   
    <img class="profliePic" src="{{user.pic}}">
    <img  class="cover" src="../assets/imgs/profile.jpg">
    <button ion-button (click)="getPhoto()">Take Photo</button>
    <div text-center>
        <button *ngIf="edit != 'yes'" (click)="edit = 'yes'" ion-button clear>Edit</button>
        <button *ngIf="edit == 'yes'" (click)="confirmCloseEdit()" ion-button clear>Close</button>
        <button *ngIf="edit == 'yes'"  (click)="confirmSaveEdit()" ion-button clear>Save</button>
        <button *ngIf="edit != 'yes'" (click)="confirmDeleteAccount()" ion-button clear>Delete Account</button>
    </div>
    <ion-list>
    <ion-item  no-lines>
        <ion-label><strong>Age</strong></ion-label>
        <ion-input name="age" [(ngModel)]="user.age" [disabled]="edit != 'yes'"></ion-input>
    </ion-item>
    <ion-item  no-lines>
        <ion-label><strong>Interests</strong></ion-label>
        <ion-textarea rows="6" name="interest" [(ngModel)]="user.interests" [disabled]="edit != 'yes'"></ion-textarea>
    </ion-item>
    <ion-item  no-lines>
        <ion-label><strong>Major</strong></ion-label>
        <ion-input name="major" [(ngModel)]="user.major" [disabled]="edit != 'yes'"></ion-input>
    </ion-item>
  </ion-list>
</div>
</ion-content>
