
<ion-header>
  <ion-navbar>
    <ion-title *ngIf="party">{{party.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

 
<div *ngIf="party">
    <img src="../assets/imgs/party.jpg" height="250px" width="100%">
  <ion-row text-center margin-bottom>
    <ion-col *ngIf="requestStatus == 'Invited'" >Invited</ion-col>
    <ion-col *ngIf="requestStatus == 'Requesting Invite'" (click)="confirmCancelRequest()" >Cancel Request</ion-col>
    <ion-col *ngIf="requestStatus == 'No Invite Status'" (click)="confirmRequestInvite()" >Request Invite</ion-col>
    <ion-col>Message Host</ion-col>
  </ion-row>
    <ion-list>
          <ion-list-header class="listHeader"  no-lines>What we will be doing</ion-list-header>
          <ion-item no-lines>{{party.activity}}</ion-item>
          <ion-list-header class="listHeader"  no-lines>Date</ion-list-header>
          <ion-item no-lines>{{party.date}}</ion-item>
          <ion-list-header class="listHeader"  no-lines>Time</ion-list-header>
          <ion-item no-lines>{{party.time}}</ion-item>
          <ion-list-header class="listHeader"  no-lines>Rules</ion-list-header>
          <ion-item no-lines>{{party.rules}}</ion-item>
          <ion-list-header class="listHeader"  no-lines>Location</ion-list-header>
          <ion-item no-lines>{{party.location}}</ion-item>
          <ion-list-header class="listHeader"  no-lines>Directions</ion-list-header>
          <ion-item no-lines>{{party.directions}}</ion-item>
    </ion-list>
</div>

 </ion-content>
<!--         
        <ion-list-header class="listHeader"  no-lines>Going {{party.going.length}}</ion-list-header>
        <ion-row padding>
          <ion-col  class="guests" col-4>
            Brianne Gerron
          </ion-col>
          <ion-col col-4>
              Adiontae Gerron
          </ion-col>
          <ion-col col-4>
            Tyrell Gerron
        </ion-col>
        <ion-col col-4>
            Brianne Gerron
          </ion-col>
          <ion-col col-4>
              Adiontae Gerron
          </ion-col>
          <ion-col col-4>
            Tyrell Gerron
        </ion-col>
        </ion-row>
        
        <ion-list-header class="listHeader"  no-lines>Invited (6)</ion-list-header>
        <ion-row padding>
            <ion-col col-4 >
              <span [navPush]="ProfilePage">Brianne Gerron</span>
            </ion-col>
            <ion-col col-4>
                Adiontae Gerron
            </ion-col>
            <ion-col col-4>
              Tyrell Gerron
          </ion-col>
          <ion-col col-4>
              Brianne Gerron
            </ion-col>
            <ion-col col-4>
                Adiontae Gerron
            </ion-col>
            <ion-col col-4>
              Tyrell Gerron
          </ion-col>
          </ion-row> -->

