<ion-header>
  <ion-navbar>
      <ion-buttons start>
          <button (click)="closePage()" ion-button>
            <ion-icon style="font-size: 40px" name="close"></ion-icon>
          </button>
        </ion-buttons>
   <ion-title *ngIf="user">{{user.fname}} {{user.lname}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
  <div  *ngIf="user">

          <p text-center>
              <img class="profliePic" src="{{user.pic}}" />
            </p>
  <ion-list>
      <ion-item  no-lines>
        <strong>School</strong> <p>{{user.school}}</p>
      </ion-item>
      <ion-item  no-lines>
        <strong>Email</strong> <p>{{user.email}}</p>
      </ion-item>
      <ion-item  no-lines>
          <strong>Age</strong> <p>{{user.age}}</p>
      </ion-item>
      <ion-item  no-lines>
          <strong>Interests</strong> <p>{{user.interests}}</p>
      </ion-item>
      <ion-item  no-lines>
          <strong>Major</strong> <p>{{user.major}}</p>
      </ion-item>
    </ion-list> 

  </div>
  
</ion-content>
