<ion-header>
  <ion-navbar>
    <ion-buttons end>
        <button ion-button [navPush]="menuPage">
            <ion-icon name="menu"></ion-icon>
          </button>
    </ion-buttons>

   <ion-title *ngIf="user">{{user.fname}} {{user.lname}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
       <img class="profliePic" src="../assets/imgs/profile.jpg">
          <img class="cover" src="../assets/imgs/profile.jpg">




  <ion-row margin-bottom text-center>
    <ion-col tappable (click)="showMessages()">Messages</ion-col>
    <ion-col tappable (click)="showFriends()">Friends</ion-col>
    <ion-col tappable (click)="showAbout()">About</ion-col>
  </ion-row>
  <ion-list>
        <ion-list-header no-lines class="listHeader">Created</ion-list-header>
        <ion-item *ngFor="let party of createParties" [navPush]="editParty" [navParams]="party" >
          
              {{party.name}}<br>{{party.date}} {{party.time}}
        </ion-item>
        <ion-list-header no-lines class="listHeader">Going</ion-list-header>
        <ion-list-header no-lines class="listHeader">Invited</ion-list-header>
        <ion-item *ngFor="let party of invitedParties">
                {{party.name}}<br>{{party.date}} {{party.time}}
                <button (click)="viewParty(party)" clear ion-button item-end>View</button>
                <button (click)="going(party)" clear  ion-button item-end>Going</button>
                <button (click)="deleteInvite(party)" clear  ion-button item-end>Delete</button>
          </ion-item>
        <ion-list-header no-lines class="listHeader">Attended</ion-list-header>
      
  </ion-list>
</ion-content>
