<ion-header>
  <ion-navbar>
    <ion-buttons start>
        <button ion-button (click)="updateProfile(user)">
            Edit
        </button>
        </ion-buttons>
   <ion-title *ngIf="user">{{user.fname}} {{user.lname}}</ion-title>
   <ion-buttons end>
        <button ion-button [navPush]="menuPage">
            <ion-icon name="menu"></ion-icon>
          </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content >
  <div  *ngIf="user">

          <p text-center>
              <img class="profliePic" src="{{user.pic}}" />
            </p>

<ion-row margin-bottom text-center>
    <ion-col tappable (click)="showMessages()">Messages</ion-col>
    <ion-col tappable (click)="showFriends()">Friends</ion-col>
    <ion-col tappable (click)="showMyParties()">My Parties</ion-col>
  </ion-row>
  <ion-list>
      <ion-item  no-lines>
        <strong>School</strong> <p>{{user.school}}</p>
      </ion-item>
      <ion-item  no-lines>
        <strong>Email</strong> <p>{{user.email}}</p>
      </ion-item>
      <ion-item  no-lines>
          <strong>Age</strong> <p>{{user.age}}</p>
      </ion-item>
      <ion-item  no-lines>
          <strong>Interests</strong> <p>{{user.interests}}</p>
      </ion-item>
      <ion-item  no-lines>
          <strong>Major</strong> <p>{{user.major}}</p>
      </ion-item>
    </ion-list> 

  </div>
  
</ion-content>
