// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";




// Custom Styles
$toolbar-background: #60b0f4;
$tabs-background: #60b0f4;
$tabs-tab-color-active: #fff;
$background-color: #f4f4f4;
$list-background-color: #fff;
$segment-button-md-text-color-activated:  #000;
$segment-button-ios-border-width: 0px;
$list-border-color: white;

// The "primary" color is the only required color in the map.

$colors: (
  primary:  #9c528b,
  secondary:    #123456,
  color2:  #d7cdcc,
  color3:  #ffffff,
  color4:  #59656f,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #000
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
@font-face {
  font-family: "Courgette";
  src: url("../assets/fonts/Courgette-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Kavivanar-Regular";
  src: url("../assets/fonts/Kavivanar-Regular.ttf") format("truetype");
}

*{
  font-family: Kavivanar-Regular;
}
