
<ion-header>

  <ion-navbar>
    <ion-title>Friends</ion-title>
    <ion-buttons end>
      <button (click)="showAddFriend()" ion-button class="headerText" >Add Friend</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

    <p class="addFriendsMessage" 
    *ngIf="
    pendingLength == 0 &&
    requestsLength == 0 &&
    friendsLength == 0
     ">PubParty is lonely without friends. Add a few!</p>
  
    <div id="pending" *ngIf="pendingLength != 0">
      <ion-list-header>Pending</ion-list-header>
      <ion-item *ngFor="let pending of pendingFriends" class="item" no-lines >
        <ion-thumbnail item-start>
            <img src="../assets/imgs/profile.jpg">
          </ion-thumbnail>
      <span  (click)="viewProfile()">{{pending.fname}} {{pending.lname}}</span>
      <p>{{pending.school}}</p>
        <button (click)="confirmCancelPendingRequest(pending)" ion-button item-end clear>
          Cancel Request
        </button>
    </ion-item>
    </div>
    <div id="requests" *ngIf="requestsLength != 0">
        <ion-list-header>Requests <ion-badge *ngIf="newFriends != 0"> {{newFriends}}</ion-badge></ion-list-header>
      <ion-item *ngFor="let request of friendRequests" class="item" no-lines >
        <ion-thumbnail item-start>
            <img src="../assets/imgs/profile.jpg">
          </ion-thumbnail>
      <span  (click)="viewProfile()">{{request.fname}} {{request.lname}}</span>
      <p>{{request.school}}</p>
        <button (click)="confirmAcceptRequest(request)" ion-button item-end clear>
          Accept
        </button>
        <button (click)="  confirmDeleteRequest(request)" ion-button item-end clear>
          Delete
        </button>
    </ion-item>
    </div>
    <div id="friends" *ngIf="friendsLength != 0">
        <ion-list-header>Friends</ion-list-header>
      <ion-item *ngFor="let friend of friends" class="item" no-lines >
        <ion-thumbnail item-start>
            <img src="../assets/imgs/profile.jpg">
          </ion-thumbnail>
      <span  (click)="viewProfile()">{{friend.fname}} {{friend.lname}}</span>
      <p>{{friend.school}}</p>
        <button (click)="showFriendOptions(friend)" ion-button item-end clear>
          <ion-icon color="dark"  name="md-more"></ion-icon>
        </button>
    </ion-item>
    </div>

   
    


</ion-content>
