page-welcome {


    
    .logo{
        font-size: 50px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 200px;
        margin-top: 100px;
        color:#60b0f4;
        font-family: courgette;
        
    }

    .loginButton {
        color: green;
        font-size: 30px;
        font-weight: bold;
    }
    .registerButton {
        color: skyblue;
        font-size: 30px;
        font-weight: bold;
    }
    .scroll-content {
        // background-image: url('../../assets/imgs/bg.jpg');
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: cover;
    }
}
